.scistone-input-container {
    display: flex;
    flex-direction: row;

    label {
        position: relative;
        display: inline-flex;
        align-items: center;
        max-width: 100%;
        height: 32px;
        font-size: 14px;
        color: rgba(0, 0, 0, .85);
        font-size: 14px;

        &:after {
            position: relative;
            top: -0.5px;
            margin: 0 8px 0 2px;
            content: " : ";
        }
    }

    .required:before {
        display: inline-block;
        margin-right: 4px;
        color: #ff4d4f;
        font-size: 14px;
        font-family: 'Tiro Gurmukhi', serif;
        line-height: 1;
        content: "*";
    }

}

.scistone-input{
    margin-bottom: 4px;
    height: 32px;
    width: 25.5vw;
    border: rgba(0, 0, 0, 0.158) 0.3px solid;
    border-radius: 2px;

    &.error {
        border: red 1px solid;
    }

    &:focus {
        -webkit-box-shadow: 0px 0px 4px 1px rgba($color-contrast, 0.64) !important;
        -moz-box-shadow: 0px 0px 4px 1px rgba($color-contrast, 0.64) !important;
        box-shadow: 0px 0px 4px 1px rgba($color-contrast, 0.64) !important;
        outline: rgba($color-contrast, 0.64) 1px solid !important;
    }
    
    &:hover {
        -webkit-box-shadow: 0px 0px 4px 1px rgba($color-contrast, 0.64);
        -moz-box-shadow: 0px 0px 4px 1px rgba($color-contrast, 0.64);
        box-shadow: 0px 0px 4px 1px rgba($color-contrast, 0.64);
        border: rgba($color-contrast, 0.64) 1px solid;
    }
}

.scistone-input-area{
    p{
        margin: 0 0 0 3px;
        top: 0;
        font-size: 12px;
        color: red;
    }
}

.input-label{
    overflow: hidden;
    white-space: nowrap;
    text-align: right;
    vertical-align: middle;
}