

.contact-us--user {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    padding: 35px 10px;

    .contact-us--user-picture {
        width: 120px;
        height: 120px;
        overflow: hidden;
        border-radius: 100%;

        img {
            width: 120px;
        }
    }

    .contact-us--user-name {
        h2 {
            font-weight: 800;
            letter-spacing: 0.5px;
            line-height: 30px;
        }

    }

    .contact-us--user-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;

        .contact-us--user-info-icons {
            display: flex;
            align-items: center;
            text-align: center;

            gap: 10px;
            font-size: 18px;
            line-height: 28px;

            transition: all .2s linear;
            opacity: 0.65;

            a {
                font-size: 15px;
            }

            &:first-child {
                opacity: 1;
                font-weight: 500;
            }

            &:hover {
                opacity: 1;
            }
        }
    }
}