.scistone-container {
    display: block;
    margin: 0;

    &.offset-40 {
        margin-left: 40%;
    }

    &.offset-50 {
        margin-left: 50%;
    }

    &.offset-25 {
        margin-left: 25%;
    }

    &.offset-33 {
        margin-left: 33.333333333%;
    }

    &.offset-66 {
        margin-left: 66.666666666%;
    }

    &.col {
        position: relative;
        width: 100%;

    }

    &.col-12 {
        display: block;
        flex: 1;
    }

    &.col-8 {
        display: block;
        flex: 0.3333333333333;

    }

    &.col-6 {
        display: block;
        flex: 0.25;


    }

    &.col-16 {
        display: block;
        flex: 0.6666666667%;
    }
    
    &.col-18 {
        display: block;
        flex: 0.75%;
    }

    &.row {
        display: flex;
        flex-flow: wrap;
        min-width: 0;

        &.sm {
            height: 5vh;
        }

        &.md {
            height: 10vh;
        }

        &.lg {
            height: 20vh;
        }
    }
}