
.navigation-bar{
    display: flex;
    width: 100%;
    top:0;
    z-index: 99;
    position: sticky;
    height: 80px;
    background-color: $color-primary;
    box-shadow: $soft-shadow;
    color: $color-text;
    align-items: center;
}
.navigation-bar--logo{
    display: flex;
    width: 15%;
    color: $color-text;
    text-align: center;
    margin: auto;
    cursor: pointer;
    padding: 10px;

    img {
        height: 40px;
        margin: 0 10px;
    }
    p {
        font-size: 20px;
        font-weight: 700;
        margin: auto;
        margin-left: 0;
    }
}

.navigation-bar--items{
    display: flex;
    width: 65%;
    justify-content: space-between;
    text-align: center;
    height: 80px;
    margin: auto;
    
    // p:hover {
    //     color: $color-contrast;
    //     border-bottom:1px solid $color-contrast ;

    // }
    @media screen and ( max-width: 760px ) {
        display: none;
    }
    
}

.navigation-bar--item{
    position: relative;
    display:inline-block;
    color: inherit;
    .navigation-bar--item-label {
        margin-top: 30px;
        min-width: 100px;
        color: inherit;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        transition: all .3s ease-in-out;
        border-bottom:1px solid transparent ;
    }
    .navigation-bar--item-animation{
        position: absolute;
        display:block;
        left: 0;
        margin:0 auto;
        height: 2px;
        background-color: $color-contrast;
        width: 0%;
        opacity: 0;
        transition: width 1s ease;
    }
    a{
        text-decoration: none;
    }
    
}

.navigation-bar--item:hover .navigation-bar--item-animation{
    width: 100%;
    opacity: 1;
}

.navigation-bar--extra{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    .navigation-bar--extra-icon-body{
        transition: all .3s ease-in-out;
        cursor: pointer;
        .navigation-bar--extra-icon{
            height: 24px;
            color: $color-text;
            font-weight: 400;
        }
        &:hover {
            .navigation-bar--extra-icon{
                color: $color-contrast;
            }
        }
    }
    @media screen and ( max-width: 840px ) {
        display: none;
    }

}