.components__body{
    height: 98.4vh;
    margin-top: 8.6vh;
}

.components__menu{
    background-color: rgba($color: #fff, $alpha: 1);


}

.components__menu-body{
    padding: 50px 0px 0px 10px;
    position: fixed;
}

.tablepage__body{
    height: 90%;
    padding: 20px;

}

.component__card{
    background-color: rgba($color: #fff, $alpha: 1);
    border-radius: 15px;
    margin: auto;
}