.main-page{
    display: block;
    background-color: #282c34;
    min-height: 100vh;
}

.navigation-bar{
    display: flex;
    width: 100%;
    top:0;
    z-index: 99;
    height: 80px;
    background-color: white;
}