.main-page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}
.main-container {
    display: flex;
    position: relative;
}

.content-body {
    display: flex;
    flex-direction: column;
    background-color: rgba($color-primary,1);
    width: calc(100vw - 320px);
    min-height: calc(100vh - 80px);
}



.content-body-contents{
    padding: 10px 40px;
    p {
        line-height: 32px;
    }
}

.contact-us--body{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
    
    > * {
        max-width: 300px;
        margin: 20px;
    }
}