.main-page{
    display: block;
    min-height: 100vh;
}
.main-container {
    display: flex;
}

.content-body {
    background-color: rgba($color-primary,1);
    width: calc(100vw - 320px);
    min-height: calc(100vh - 80px);
    overflow: auto;
}

.navigation-bar{
    display: flex;
    width: 100%;
    top:0;
    z-index: 99;
    height: 80px;
    background-color: rgba($color: $color-primary, $alpha: 0.95);
    box-shadow: $soft-shadow;
}
.navigation-bar--logo{
    display: flex;
    width: 15%;
    color: $color-text;
    text-align: center;
    margin: auto;
    img {
        height: 50px;
        margin: 0 10px;
    }
    p {
        font-size: 20px;
        font-weight: 700;
        margin: auto;
        margin-left: 0;
    }
}

.navigation-bar--items{
    display: flex;
    width: 65%;
    justify-content: space-around;
    height: 80px;
    .navigation-bar--item{
        height: 80px;
        margin: auto;
        text-align: center;
        position: relative;
        display:inline-block;
        .navigation-bar--item-label {
            margin-top: 30px;
            min-width: 100px;
            color: $color-text;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            transition: all .3s ease-in-out;
            border-bottom:1px solid transparent ;
        }
        .navigation-bar--item-animation{
            position: absolute;
            display:block;
            left: 0;
            top:90%;
            margin:0 auto;
            height: 2px;
            background-color: $color-contrast;
            width: 0%;
            transition: width 1s ease;
        }
    }
    .navigation-bar--item:hover .navigation-bar--item-animation{
        width: 100%;
    }
    // p:hover {
    //     color: $color-contrast;
    //     border-bottom:1px solid $color-contrast ;

    // }
    
}

.navigation-bar--extra{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    .navigation-bar--extra-icon-body{
        transition: all .3s ease-in-out;
        cursor: pointer;
        .navigation-bar--extra-icon{
            height: 24px;
            color: $color-text;
            font-weight: 400;
        }
        &:hover {
            .navigation-bar--extra-icon{
                color: $color-contrast;
            }
        }
    }

}

.hamburger-menu {
    display: block;
    width: 320px;
    min-height: calc(100vh - 80px);
    background-color: $color-secondary;
    padding-left: 15px;
    overflow: auto;
    color: $color-text;
    box-shadow: $main-shadow;
    .hamburger-menu--items{
        padding-left: 15px;
        .hamburger-menu--item{
            cursor: pointer;
            margin: 15px 0;
            position: relative;
            
            .hamburger-menu--sub-items{
                padding-left: 25px;
                .hamburger-menu--sub-item{
                    margin: 15px 0;
                }
            }

            p {
                transition: all .3s ease-in-out;
                line-height: 20px;
            }

            p:hover{
                color: $color-contrast;
                &:after {
                    opacity: 1;
                }
            }
            p:after {
                transition: all .3s ease-in-out;
                content: '';
                position: absolute;
                right: 0;
                width: 5px;
                height: 20px;
                background-color: $color-contrast;
                border-radius: 6px 0 0 6px;
                opacity: 0;
            }
        }
    }
}

.content-body-contents{
    padding: 10px 40px;
    p {
        line-height: 32px;
    }
}