@import "./variables.scss";
@import "./components.scss";
@import "./typo.scss";
@import "../components/Navbar/styles.scss";
@import "../components/Drawer/styles.scss";
@import "../components/Button/styles.scss";
@import "../components/Menu/styles.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

