@import "./variables.scss";
@import "./components.scss";
@import "./typo.scss";
@import "./demo.scss";
@import "../components/Navbar/styles.scss";
@import "../components/Drawer/styles.scss";
@import "../components/Button/styles.scss";
@import "../components/Menu/styles.scss";
@import "../components/Container/styles.scss";
@import "../components/Input/styles.scss";
@import "../components/Toggle/styles.scss";
@import "../components/Form/styles.scss";
@import "../components/Form/Item/styles.scss";

@import "./demo/home.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.App{
  background: #f46b45;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFBA00, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFBA00, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
