$color-primary: #222831;
$color-secondary: #393E46;
$color-contrast: #FFD369;
$color-text: #EEEEEE;

$main-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$soft-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;